/* app css stylesheet */

body {
  padding-top: 20px;
}

.form_elements{
    margin-left: 50px;
}

.div_buttons{
  width: 1600px;
  margin-left: auto ;
  margin-right: auto ;
}

.main_div{
  vertical-align: center;
  background-color:#E6E6FA; 
  margin-left: auto ;
  margin-right: auto ;
}

.results{
  width: 1600px;
  height: auto;
  background-color:#E6E6FA;
  margin-left: auto ;
  margin-right: auto ;
}

.response_dump{
  width: 1600px;
  height: auto;
  background-color:#E6E6FA;
  margin-left: auto ;
  margin-right: auto ;
}

.my_textarea{
  height:600px;
  width: 1300px;
  margin-left: auto ;
  margin-right: auto ;
  resize: none;
  background-color: #FFFFFF;
}

.response_textarea{
  height:300px;
  width: 1300px;
  resize: none;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #FFFFFF;
}

.response_dump_text{
  text-align: center;
}

.disabled{
  display: none;
}

.user_input{
    margin-left: 150px;
}

p .content {white-space: pre}